<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    "inner_message/application", media: "all" %>
  <%= javascript_include_tag "inner_message/application" %>
  <%= javascript_include_tag "inner_message/admin" %>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
