<!DOCTYPE html>
<html>
<head>
  <title>InnerMessage</title>
  <%= stylesheet_link_tag    "inner_message/application", media: "all" %>
  <%= javascript_include_tag "inner_message/application" %>
  <script src="<%= asset_path 'inner_message/chat.js' %>"></script>
  <script src="<%= @faye_server %>/client.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
  APP = {
    visitor_session_key: "<%= @visitor.session_key %>",
    faye_server: "<%= @faye_server %>",
    operatorId: "<%= @operator_id %>"
  };
</script>
</body>
</html>
