<div class="unread-count">
  <span class="badge clickable" data-bind="text: unread, click: toggleMessageBox, css: { 'unread-alert': unread()!='0' }, visible: !showingMessageBox()"></span>
</div>

<div data-bind="css: {'show-message-list': showingMessageBox, 'hide-message-list': !showingMessageBox()}" class="message-list">
  <%= render 'toolbar' %>
  <div data-bind="visible: showingCategory() == notificationCategories()[0].name" class="categories">
  <!-- ko foreach: conversations -->
    <%= render 'conversation_item' %>
    <%= render 'message_item' %>
  <!-- /ko -->
  </div>
  <div data-bind="visible: showingCategory() == notificationCategories()[1].name" class="categories">
  <!-- ko foreach: channels -->
    <%= render 'channel_item' %>
    <%= render 'broadcast_item' %>
  <!-- /ko -->
  </div>
</div>